.burger{
   background-color: none;
   height: 30px;
   width: 36px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   gap: 5px;
}
.line{
    height: 3px;
    width: 90%;
    transition: 0.3s all ease;
    border: none;
    border-radius: 2px;
    background-color: aliceblue;
}
.main{
    position: absolute;
    right: 0px;
    height: 100vh;
    width: 100vw;

}

